name: Test, Build, and Deploy | mODUL 01 - lAB2.2 sENIOR pROJECT

on:
  push:
    branches: [main]

jobs:
  test-build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v4
      - name: Testing Build pre-Deploy
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: npm i
      - run: npm run build 

  deploy:
    needs: test-build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - name: Build app on VM
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        script: |
          eval "$(ssh-agent -s)"
          ssh-add ~/.ssh/ssh-praktikan3
          echo "check folder project";
          [ ! -d "${HOME}/senpro/496507/modul02/senpro-github-action/" ] && 
          {
            echo "Clone repo.";
            mkdir -p ~/senpro/496507/modul02;
            cd ~/senpro/496507/modul02;
            git clone https://github.com/lindduncoding/senpro-github-action.git;
            cd ~/senpro/496507/modul02/senpro-github-action;
            echo "Install package and build project";
            npm install;
            npm run build;
          } ||
          {
            echo "Repo wes ono. Building...";
            cd ~/senpro/496507/modul02/senpro-github-action;
            git restore .;
            git pull origin main;
            npm install
            npm run build;            
          }